
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Hamburgers
// https://jonsuh.com/hamburgers/
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

body {
	margin: 0;
}

#app-accueil, #app-galeries, #app-expositions, #app-administration {
	display: flex;
	flex-direction: column;
	background-color: #3D3D3D;
	color: #FFFFFF;
	font-family: Raleway;
}

.container {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}

.titre-section {
	display: flex;
	justify-content: center;
	color: #FB6C3F;
}
