
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import 'node_modules/font-awesome/scss/font-awesome.scss';

//$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import 'node_modules/flag-icon-css/sass/_flag-icon.scss';

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Hamburgers
// https://jonsuh.com/hamburgers/
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

body, h1, h2 {
	margin: 0;
	font-family: "Open sans";
	font-weight: lighter;
}

#app-accueil, #app-galeries, #app-expositions, #app-administration {
	display: flex;
	flex-direction: column;
	background-color: #353535;
	color: #FFFFFF;
}

.titre-section > h1 {
	color: #FB6C3F;
}

button:focus {
	outline: none;
}
